

<div *ngIf="person">
  <div>
    <h1 class="title">{{person.firstName + ' ' + person.lastName}} ({{person.id}})</h1>
  </div>

  <h1>Person Information:</h1>
  First Name: {{person.firstName}} <br/>
  Last Name: {{person.lastName}} <br/>
  Email: {{person.email}}<br/>
  Hobbies: {{person.hobbies}}

  <!--<div>-->
    <!--<h2>Top Hobbies:</h2>-->
    <!--<p>{{person.hobbies}}</p>-->
  <!--</div>-->

  <div id="buttons">
    <button (click)="toMain()">Back to Main</button> <!--bottom left corner-->
    <button routerLink="/edit/{{person.id}}">Edit</button> <!-- to left of delete-->
    <button (click)="delete()">Delete</button> <!--Bottom right corner-->
  </div>
</div>

<!-- / -->
<!--<h3>Edit Customer Form</h3>-->
<!--<div [hidden]="submitted">-->
  <!--<form (ngSubmit)="onSubmit()">-->
    <!--<div class="form-group">-->
      <!--<label for="firstname">First Name</label>-->
      <!--<input type="text" class="form-control" id="firstname" required-->
             <!--[(ngModel)]="person.firstName" name="firstname">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="lastName">Last Name</label>-->
      <!--<input type="text" class="form-control" id="lastName" required-->
             <!--[(ngModel)]="person.lastName" name="lastName">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="email">email</label>-->
      <!--<input type="" class="form-control" id="email" required-->
             <!--[(ngModel)]="person.email" name="email">-->
    <!--</div>-->

    <!--<div class="btn-group">-->
      <!--<button class="btn btn-primary" (click)="toMain()">Back</button>-->
      <!--<button type="submit" class="btn btn-success" (click)="toEdit()">Update</button>-->
      <!--<button class="btn btn-danger" (click)="delete()">Delete</button>-->
    <!--</div>-->

  <!--</form>-->
<!--</div>-->

<!--<div [hidden]="!submitted">-->
  <!--<h4>Update successfully!</h4>-->
  <!--<div class="btn-group">-->
    <!--<button class="btn btn-primary" (click)="toMain()">Back</button>-->
    <!--&lt;!&ndash;<button class="btn btn-success" (click)="submitted=false">Edit</button>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->

