<div id="container">
  <h2>Welcome to JavaCohort3 Database</h2>

  <div id="search-box">
    <input type="text" placeholder="Search..." />
  </div>

  <div id="person-list">
    <div>
      <a *ngFor="let person of people" class="person-module" routerLink="/bio/{{person.id}}">
        Person :{{person.firstName + ' ' + person.lastName}}
        <span class="id">({{person.id}})<br/></span>
      </a>
    </div>
  </div>

  <div id="create-person">
    <button  routerLink="/create"  class="btn btn-primary active" role="button" routerLinkActive="active">Create New Person</button>
    <!--<button (click)="createPerson()"> Create Person </button>-->
  </div>
</div>
