
<div [hidden]="submit">
  <h2 id="title">Create Person Database</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required
             [(ngModel)]="person.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required
             [(ngModel)]="person.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required
             [(ngModel)]="person.email" name="email">
    </div>
    <!--<div class="form-group">-->
      <!--<label for="hobbies">Hobbies</label>-->
      <!--<input type="text" class="form-control" id="hobbies" required-->
             <!--[(ngModel)]="person.hobbies" name="hobbies" />-->
    <!--</div>-->
  </form>
  <div class="btn-group" >
    <button id="back-to-main" routerLink="/">Main</button>
    <button id="go-back" class="button" (click)="goBack()">Back</button>
    <button id="save" type="submit" class="btn btn-success" (click)="onSubmit()">Add</button>
  </div>
</div>
<!--<div class="btn-group" >-->
  <!--<button (click)="goBack()">Back</button>-->
  <!--<button type="submit" class="btn btn-success" (click)="onSubmit()">Add</button>-->
<!--</div>-->

<div [hidden]="!submit">
  <div class="btn-group ">
    <h4>You submitted successfully!</h4>
    <button routerLink="/" class="btn btn-primary" >Back</button>
    <!--<button class="btn btn-success" (click)="newCustomer()">Add</button>-->
  </div>
</div>
<router-outlet></router-outlet>
